@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.main-container {
	padding: 2rem;
	text-align: justify;
	overflow: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
}

.logoNav {
	width: 240px;
	margin: auto;
}

.headerCard {
	margin-left: 10rem;
}

.test {
	margin: 20rem;
}
#root {
	margin-left: 15rem;
}

main {
	width: 50%;
}

img {
	width: 45%;
	height: auto;
}
.homeText {
	text-align: center;
	line-height: 20px;
}
h1.homeText {
	margin-top: 3rem;
}
.home-carousel {
	width: 70%;
	height: auto;
}
.slick-slide img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-dots {
	position: initial;
	padding: 0;
	margin-top: -2rem;
}
.MuiListItemIcon-root-166 {
	margin-right: -45px;
}

.campus-container {
	width: auto;
	height: auto;
}

.MuiSvgIcon-root-172 {
	margin-left: -1rem;
}

.MenuList-root-154 {
	background-color: #f8b018 !important;
	color: #483b6e !important;
}
.MuiDrawer-paperAnchorDockedLeft-145 {
	background-color: #f8b018 !important;
}

.MuiTypography-subheading-94 {
	color: #483b6e !important;
	font-weight: bold !important;
	font-size: 1.15rem !important;
}

.MuiListItemText-root-168 {
	padding: 0 !important;
}

.appBar {
	margin-left: 240;
	background-color: transparent !important;
	box-shadow: none !important;
}

.menuButton {
	margin-right: 20;
	color: black;
}
.MuiToolbar-root-45.MuiToolbar-regular-47 {
	display: flex !important;
	align-self: flex-end !important;
}
