@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.main-container {
	padding: 2rem;
	text-align: justify;
}

body {
	font-family: 'Roboto', sans-serif;
}

.logoNav {
	width: 240px;
	margin-top: 1rem;
}

.headerCard {
	margin-left: 10rem;
}

.test {
	margin: 20rem;
}
#root {
	margin-left: 15rem;
}

main {
	width: 50%;
}

img {
	width: 45%;
	height: auto;
}
.homeText {
	text-align: center;
	line-height: 20px;
}
h1.homeText {
	margin-top: 2rem;
}
.home-carousel {
	width: 70%;
	height: auto;
}
.slick-slide img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-dots {
	position: initial;
	padding: 0;
	margin-top: -2rem;
}
.MuiListItemIcon-root-166 {
	margin-right: -45px;
}

.campus-container {
	width: auto;
	height: auto;
}
